
@{
    ViewBag.Title = "Aufgabensammlung";
}

<h2>Aufgabensammlung</h2>
<br />
<p>
    @Html.ActionLink("XSS Keylogger", "KeyLogger", "Home")
</p>
<p>
    @Html.ActionLink("XSS Fakelogin / UI Redress", "UiRedress", "Home")
</p>
<p>
    @Html.ActionLink("UI Redress", "UiRedress", "Home")
</p>
<p>
    @Html.ActionLink("OTP", "login", "Home")
</p>
<p>
    @Html.ActionLink("TOTP", "index", "Manage")
</p>
<p>
    @Html.ActionLink("SSO", "index", "Home")
</p>
<p>
    @Html.ActionLink("Database XSS / SQL Injection", "XssVulnerableLogin", "Misc")
</p>
<p>
    @Html.ActionLink("Cesar", "CesarCipher", "Misc")
</p>
<p>
    @Html.ActionLink("Vigenere", "VigenereCipher", "Misc")
</p>
<p>
    @Html.ActionLink("One Time Pad", "OneTimePad", "Misc")
</p>
<p>
    @Html.ActionLink("Logging und Audit Trails", "index", "Home")
</p>
