@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Modul 183</h1>
    <p class="lead">Applikationssicherheit Implementieren</p>
</div>

<div class="row">
    <div class="col-lg-12">
        <h1>Übungsaufgaben</h1>
        <p>Hier sind alle Übungsaufgaben gesammelt, die während dem Modul 183 gemacht wurden. Der Sourcecode ist auf <a href="https://github.com/surfer412/M183">https://github.com/surfer412/M183</a> erhältlich.</p>
    </div>

    <div class="col-lg-12">
        <br />
        <p>
            @Html.ActionLink("XSS Keylogger", "KeyLogger", "Home")
            <span>@ViewBag.KeyloggerLastLine</span>
        </p>
        <p>
            @Html.ActionLink("XSS Fakelogin / UI Redress", "UiRedress", "Home")
        </p>
        <p>
            @Html.ActionLink("UI Redress", "UiRedress", "Home")
        </p>
        <p>
            @Html.ActionLink("OTP", "login", "Account")
        </p>
        <p>
            @Html.ActionLink("TOTP", "index", "Manage")
            <span>User muss bereits eingeloggt sein</span>
        </p>
        <p>
            @Html.ActionLink("SSO", "login", "Account")
        </p>
        <p>
            @Html.ActionLink("Database XSS / SQL Injection", "XssVulnerableLogin", "Misc")
        </p>
        <p>
            @Html.ActionLink("Cesar", "CesarCipher", "Misc")
        </p>
        <p>
            @Html.ActionLink("Vigenere", "VigenereCipher", "Misc")
        </p>
        <p>
            @Html.ActionLink("One Time Pad", "OneTimePad", "Misc")
        </p>
        <p>
            @Html.ActionLink("Logging und Audit Trails", "AllUserLogins", "Misc")
        </p>
    </div>


    <br />

    
</div>