
@{
    ViewBag.Title = "Aufgabensammlung";
}

<h2>Aufgabensammlung</h2>
<br />
<p>
    @Html.ActionLink("XSS Keylogger", "KeyLogger", "Home")
</p>
<p>
    @Html.ActionLink("XSS Fakelogin / UI Redress", "login", "Home")
</p>
<p>
    @Html.ActionLink("UI Redress", "login", "Home")
</p>
<p>
    @Html.ActionLink("OTP", "login", "Home")
</p>
<p>
    @Html.ActionLink("TOTP", "index", "Manage")
</p>
<p>
    @Html.ActionLink("SSO", "index", "Home")
</p>
<p>
    @Html.ActionLink("Database XSS / SQL Injection", "index", "Home")
</p>
<p>
    @Html.ActionLink("Cesar + Vinegere", "index", "Home")
</p>
<p>
    @Html.ActionLink("One Time Pad", "index", "Home")
</p>
<p>
    @Html.ActionLink("Self Singed Certificate", "index", "Home")
</p>
<p>
    @Html.ActionLink("Logging und Audit Trails", "index", "Home")
</p>